Let's start with an empty df based on the template

Goals:

- get a list of species ranked by how often it has been encountered across all three regions.
    - How many species are in this list
- dict, indexed by aphia_id (at first?) for all species with aphia id.
    - for each sub dict, there should be a key called `regional_codes` which holds a dict for region to regional code conversion
    - as this dict is being build, the eng and french common names should be added opportunistically
- for all species without aphia id, there should be a new column stating from which region this comes from

In [74]:

import pandas as pd

master_species_dict = dict()

Cycle through the regional files and build up the rows of the species list

In [119]:

regions_files = [
    "GULF_RV_OCC_20221212.csv",
    "Maritimes_20221117.csv",
    "Maritimes_GEORGES_20221201.csv",
    "Quebec_20221204.csv",
]

for file in regions_files:
    temp_species_list_df = pd.read_csv(file)

    for index, row in temp_species_list_df.iterrows():
        if pd.isnull(row["aphia_id"]) or str(row["aphia_id"]).strip() == "":
            row["aphia_id"] = None

        if row["aphia_id"]:
            row["aphia_id"] = int(row["aphia_id"])




        # is there a matching aphia ID in the main list?
        match = row["aphia_id"] in species_list_df["aphia_id"].to_list()
        if not row["aphia_id"] or not match:
            species_list_df = pd.concat([species_list_df, row.to_frame().T], ignore_index=True)

        # but if there is an aphia id, we can sum the counts

        if row["aphia_id"] and match:
            master_row = species_list_df.loc[species_list_df["aphia_id"] == row["aphia_id"]].iloc[0]
            new_count = master_row["count_of_occurrences_in_db"] + row["count_of_occurrences_in_db"]
            master_row["count_of_occurrences_in_db"] = new_count
        #     species_list_df.loc[species_list_df["aphia_id"].isin(row["aphia_id"])].loc[0]["count_of_occurrences_in_db"] = new_count
# species_list_df.sort_values(by=["count_of_occurrences_in_db"], ascending=False)

,regional_code,common_name_en,common_name_fr,scientific_name,aphia_id,count_of_occurrences_in_db
0,40,American plaice,Plie canadienne,Hippoglossoides platessoides,127137,3017
1,2100,Decapod unidentified,NaN,Decapoda (o.),1130,2816
2,2526,Snow crab,Crabe des neiges,Chionoecetes opilio,107315,2651
3,10,Atlantic cod,Morue franche,Gadus morhua,126436,2494
4,6400,Sea urchin unidentified,NaN,Strongylocentrotus sp.,123390,2311
...,...,...,...,...,...,...
898,702,Wolffishes (Anarhichas sp.),Loups (Anarhichas sp.),Anarhichas sp.,125912,1
899,729,Arctic Eelpout,Lycode arctique,Lycodes reticulatus,127112,1
554,463,"EELS,SNIPE (NS)",NaN,NEMICHTHYIDAE,125432,1
451,7725,Seaworm (L. filicornis),NaN,Laetmonice filicornis,129844,1
467,8626,Aplysilla sulfurea,Aplysilla sulfurea,Aplysilla sulfurea,236120,1